{% extends "base.html" %}
{% block content %}
    {{ page.content }}

{% for repo in repos %}
    <h3 id="{{ repo.id }}">
        <a href="{{ repo.url }}">
            > {{ repo.title }}
        </a>
    </h3>
    <div class="repo-description">
        <p> {{ repo.summary }} </p>
        {% if repo.video %}
            <a href="{{ repo.iframe }}" target="_blank">
                <video muted loop autoplay="true" width="100%" poster="{{ repo.screenshot }}"> <source src="{{ repo.video }}" type="video/webm"> Hi! </video>
            </a>
        {% elif repo.screenshot %}
            <a href="{{ repo.iframe }}" target="_blank">
                <img src="{{ repo.screenshot }}" alt="{{ repo.title }}" width="100%">
            </a>
        {% elif repo.iframe %}
            <iframe id="{{ repo.id }}" title="{{ repo.title }}" width="100%" height="500" src="{{ repo.iframe }}?embed=true" allow="fullscreen" loading="lazy"> </iframe>
        {% endif %}

    </div>
    {% if not loop.last %}
        <div class='divider'></div>
    {% endif %}
{% endfor %}
{% endblock %}