{% extends "base.html" %}
{% block content %}
    {{ page.content }}

{% for repo in repos %}
    <h3 id="{{ repo.id }}">
        <a href="{{ repo.url }}">
            > {{ repo.title }}
        </a>
    </h3>
    <div class="repo-description">
        <p> {{ repo.summary }} </p>
        <iframe id="{{ repo.id }}" title="{{ repo.title }}" width="100%" height="500" src="{{ repo.iframe }}" allow="fullscreen" loading="lazy"> </iframe>
    </div>
    {% if not loop.last %}
        <div class='divider'></div>
    {% endif %}
{% endfor %}
{% endblock %}