{% extends "base.html" %}
{% block content %}
    {{ page.content }}

<div class='divider'></div>

{% for photo in photos %}
    <h3 id="{{ photo.id }}">
        > {{ photo.title }}
    </h3>
    <div class="photo-info">
        <div class="photo-info-img">
            <a href="{{ photo.location }}" target="_blank">
                <img src="{{ photo.url }}" alt="alternatetext" style="width: 100%;">
            </a>
        </div>
        <div class="photo-info-text">
            <p>
                [{{ photo.date }}] {{ photo.caption }}
            </p>
        </div>
    </div>
    {% if not loop.last %}
        <div class='divider'></div>
    {% endif %}
{% endfor %}
{% endblock %}