{% extends "base.jinja" %}
{% block content %}
{% for entry in logbook %}
    {% if loop.first %}
    <details open id="{{ entry.id }}">
    {% else %}
    <details id="{{ entry.id }}">
    {%- endif %}

    <summary><small>[{{ entry.date }}]</small><br>
    <h2>
        {{ entry.title }}
    </h2>
    <p>
        {{ entry.abstract }}
    </p>
    </summary>
    <div class="course-info-text">

        <p>
            {{ entry.contents }}
        </p>
    </div>
    </details>
    {% if not loop.last %}
        <p style="text-align: right;">⁂</p>
    {% endif %}
{% endfor %}
{% endblock %}