{% extends "base.jinja" %}
{% block content %}
{% for presentation in presentations %}
    <h3 id="{{ presentation.id }}">
        <a href="{{ presentation.url }}">
            > {{ presentation.title }}
        </a>
    </h3>
    <div class="presentation-info">
        <div class="presentation-info-text">
            <p> [ {{ presentation.where }} ] </p>
        </div>
        <div class="presentation-info-img">
            <span class="presentation-link"><a href="{{ presentation.url }}" target="_blank"> {{ presentation.icon }} Go to {{ presentation.kind }} {{ presentation.icon }}</a> </span>
            <a href="{{ presentation.url }}" target="_blank">
                <img src="{{ presentation.img }}" alt="alternatetext">
            </a>
        </div>
        <div class="abstract-container">
            <p>
            {% if presentation.abstract_url %}
                <span class="abstract-link"><a href="{{ presentation.abstract_url }}"> <em>[Read abstract] </em></a></span>
            {% endif %}
                {{ presentation.abstract }}
            </p>
        </div>
        &nbsp;
    </div>
    {% if not loop.last %}
        <div class='divider'></div>
    {% endif %}
{% endfor %}
{% endblock %}